.messages-box {
	.message {
		display: flex;
		flex-direction: row;

		.message-img {
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				max-width: 50px;
				max-height: 50px;
			}

			&:after {
				content: "";
				display: block;
				width: 0;
				height: $message-box-line-height;
				margin: $message-box-line-margin-top-bottom 0;
				border: 1px solid #d3d3d3;
			}
		}
		.message-content {
			margin-left: 2em;
		}
		.message-title {
			font-weight: bold;
			.fa {
				font-weight: normal;
				color: rgba(0, 0, 0, .2);
			}
		}
		.message-text {
			font-size: .8em;
		}

		&:last-child {
			.message-img {
				&:after {
					display: none;
				}
			}
		}
	
	}
}