$height-header: 80px;
$message-box-line-height: 20px;
$message-box-line-margin-top-bottom: 5px;

$nav-bg-color: #353535;
$bg-color: #f6f6f6;
$nav-logo-bg-color: #282828;
$header-font-color: white;
$nav-item-active-color: white;